body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

nav {
    background: #0ca0d6;
    font-size: 0;
    position: relative;

}

nav>ul>li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
}

nav>ul>li>a {
    color: #fff;
    display: block;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
    transition: all .3s ease;
}

nav>ul>li:hover>a {
    color: #444;
    border-bottom: 3px solid #444;
}

h1,
h2,
p,
form {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 1px 3px #acaaaa;
    border-radius: 5px;
}

td,
th {
    padding: 5px;
    border-bottom: 1px dotted #a5a5a5;
}

button {
    background-color: #0ca0d6;
    color: #FFF;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    box-shadow: 0px 1px #acaaaa;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #36c6fa;
}