{% extends "base.html" %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length == 0 %}
                <p>You have no tasks.</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th><a href="{% url 'show_my_tasks' %}?q=name&dir={{ dir }}">Name{{ arrow }}</a></th>
                            <th><a href="{% url 'show_my_tasks' %}?q=start_date&dir={{ dir }}">Start date{{ arrow }}</a></th>
                            <th><a href="{% url 'show_my_tasks' %}?q=due_date&dir={{ dir }}">Due date{{ arrow }}</a></th>
                            <th><a href="{% url 'show_my_tasks' %}?q=is_completed&dir={{ dir }}">Is completed{{ arrow }}</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td {% if task.is_past_due and not task.is_completed %} style = "color:red;"{% endif %}>{{ task.due_date }}</td>
                                <td>
                                    {% if task.is_completed %}
                                        Done
                                    {% else %}
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True"/>
                                            <button>Complete</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
